.custom-h1 {
  word-wrap: break-word;
  word-break: break-word;
}

.search-results-container {
  display: flex;
  align-items: flex-start;
  padding: 5rem 4rem;
  flex-direction: column;
}

.buscador__link {
  cursor: pointer;
}

.buscador__item-box {
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0;
  align-self: flex-start;
  border-left: none;
}

.buscador__item-box:not(:last-child) {
  margin-bottom: 3rem;
}

.buscador__item-box > *:not(:last-child) {
  margin-bottom: 2rem;
}

.buscador__item-primary {
  display: flex;
  font-size: 3rem;
  color: #000;
}

.buscador__item-secondary {
  display: flex;
  padding: 0.7rem 0;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  font-size: 1.6rem;
  color: #a9a9a9;
  font-weight: 600;
}

.buscador__item-tertiary {
  display: flex;
  font-size: 1.6rem;
  color: #a9a9a9;
}

.buscador__item-tertiary > *:not(:last-child) {
  margin-right: 0.5rem;
}

.buscador__item-tertiary--label {
  font-weight: 600;
}

.buscador__item-primary,
.buscador__item-secondary,
.buscador__item-tertiary {
  word-wrap: break-word;
  word-break: break-word;
}

.custom-container {
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
}

.custom-form {
  border-radius: 4px;
  background-color: #e8e8e8;
  width: 100%;
  max-width: 700px;
  display: inline-grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: minmax(200px, min-content) 1fr;
}

.custom-form__header {
  border-bottom: 1px solid #adb7bf;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding: 1rem 2rem;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.custom-form__filters-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.3rem;
  border-right: 1px solid #adb7bf;
}

.custom-form__filters-header {
  padding: 1rem 0;
  width: 80%;
  border-bottom: 1px solid #adb7bf;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.custom-form__filter {
  cursor: pointer;
  width: 85%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  word-wrap: break-word;
  word-break: break-word;
  font-size: 1.6rem;
  font-weight: 600;
  transition: background-color 0.5s;
}

.custom-form__filter-radio {
  display: none;
}

.custom-form__filter-radio:checked + .custom-form__filter {
  background-color: white;
}

.custom-form__filter:not(:last-child) {
  margin-bottom: 1rem;
}

.custom-form__input-box {
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  min-height: 300px;
  max-width: 400px;
}

.custom-form__input-box > *:not(:last-child) {
  margin-bottom: 1rem;
}

.custom-form__input-box > * {
  width: 100%;
}

.custom-form__button {
  margin: 0 !important;
}

@media (max-width: 600px) {
  .custom-form {
    grid-template-rows: min-content repeat(auto-fit, min-content);
    grid-template-columns: 1fr;
  }

  .custom-form__filters-box {
    border-right: none;
    border-bottom: 1px solid #adb7bf;
  }

  .custom-form__input-box {
    min-height: 100%;
  }
}
